[Desktop Entry]
Name=Wine
Exec=AppRun
Icon=Wine
Type=Application
Categories=Network;
Name[en_US]=wine
Terminal=true
X-AppImage-Integrate=false
NoDisplay=true
